<h3>Add a restaurant</h3>

<form method="POST" action="/restaurants">

    <p>Name: <input type="text" name="name"></p>
    <p>Rating: <input type="text" name="rating"></p>
    <p>Address: <input type="text" name="address"></p>
    <input type="submit" value="Add restaurant">

</form>