<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>User Restaurant</title>
    </head>

    <body>

        <nav>
            <a href="/restaurants/new">Add a Restaurant</a> |
            <a href="/users/new">Add a User</a> |
            <a href="/restaurants">See all Restaurants</a> |
            <a href="/users">See all Users</a>
        </nav>
        <%= yield %>

    </body>

</html>